body {
  background-color: #f5f7f9;
}

.nav {
  background-color: #344050;
  width: 100%;
  height: 64px; 
  position: fixed;
  top: 0;
  z-index: 9999;
}

.container-fluid {
  margin-top: 80px;
}

.list-wrapper, .list-item {
  padding: 0;
  margin-top: 16px;
  list-style-type: none;
}

.list-wrapper.active {
  cursor: move;
}

.main-header {
  margin-bottom: 16px;
  display: inline-block;
  color: #464d61;
}

.list-item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #eee;
  margin-bottom: 16px;
  background-color: #fff;
  padding: 16px;
  cursor: pointer;
}

.list-item-header-container {
  color: #53616e;
  margin-bottom: 16px;
}

.list-item-header-container-header {
  display: inline-block;
  margin-left: 16px;
  font-size: 16px;
}

.list-item-header-container-delete {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
